<html>
  <head>
    {% if title %}
    <title>{{title}} - Medical Transport Scheduler, Local Hack Day</title>
    {% else %}
    <title>Welcome to the Medical Transport Scheduler, Local Hack Day</title>
    {% endif %}
  </head>
  <body>
    <div style="text-align: center">MEDICAL TRANSPORT SCHEDULER: <br />
      <a href="/index">Home</a> | 
      <a href="/schedule">Generate Schedule</a> |
      <a href="/reports">Run Reports</a>
      </div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>