{% extends "base.html" %}
{% block content %}
    <h1>Welcome to the Medical Transport Scheduler</h1>
    
    <h3>Local Hack Day 2016 - Temple University</h3>
    <p>This project was completed by a team of graduate students from Temple University as a part of Local Hack Day 2016.</p>

    <h3>Project Prompt</h3>
    <p>The purpose of the project was to provide an effective scheduling algorithm for a medical transportation service to pick up and drop off patients at appointments.</p>

    <h3>Challenges and Accomplishments</h3>
    <p>This will be a discussion of how the development process went for us, the challenges we faced along the way, and the tangible product we were able to provide.</p>
{% endblock %}